<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenGate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenGate.Properties.Settings>
            <setting name="LdapServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapPort" serializeAs="String">
                <value>389</value>
            </setting>
            <setting name="LdapBindDn" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="LdapPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapBaseDn" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="LdapUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LdapStatus" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenGate.Properties.Settings>
    </userSettings>
</configuration>