{% extends "base.html" %}

{% block title %}Batiment — OpenGate{% endblock %}
{% block page_title %}Gestion des batiement{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/bat.css" />
{% endblock %}

{% block content %}

<div class="bat-list-div" id="bat-list-div">

</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/bat.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        await initPage();
    });
</script>
{% endblock %}